div.moveRight {
	
	width: 200px;
    height: 100px;
    margin: 10px;
	background-color: rgb(222, 134, 134);
    position: relative;
	left:200px;
	top: 0px;
    animation-name: moveright;
    animation-duration: 3s;
    animation-fill-mode: forwards;  
	
}

@keyframes moveright {
    0%   {left:0px;  }
    100% {left:200px; }
}

div.moveRight2 {
	
	width: 200px;
    height: 100px;
	margin: 10px;
    background-color: rgb(222, 134, 134);
    position: relative;
	left:-300px;
	top: 100px;
    animation-name: moveright;
	animation-delay: 6s;
    animation-duration: 4s;
    animation-fill-mode: forwards;  
	
}

div.moveLeft {
	
	width: 200px;
    height: 100px;
    margin: 10px;
	background-color: rgb(159, 134, 222);
    position: relative;
	left:2000px;
	top: 0px;
    animation-name: moveleft;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-fill-mode: forwards;  
	
}

@keyframes moveleft {
    0%   {left:2000px;  }
    100% {left:1350px; }
}

div.moveLeft2 {
	
	width: 200px;
    height: 100px;
    margin: 10px;
	background-color: rgb(159, 134, 222);
    position: relative;
	left: 2000px;
	top: 100px;
    animation-name: moveleft;
    animation-delay: 9s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}


div.moveup {
    width: 200px;
    height: 100px;
    margin: 10px;
	background-color: rgb(40, 164, 160);
    position: relative;
	left: 800px;
	top: 500px;
    animation-name: moveup;
    animation-delay: 12s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes moveup {
    0%   {top:1000px;  }
    100% {top:100px; }
}



.dorothy {
    width: 50px;
    height: 80px;
 /*  Taken from here: http://openbookproject.net/thinkcs/python/english3e/_images/duke_spritesheet.png*/ 
    background: url('duke_spritesheet.png') 0 0;
    position: absolute;
    top: 1000px; /* Initial top position */
    left: 850px; /* Initial left position */
    /*transform: translate(-50%, -50%);*/
    transition: left 4s, top 4s; /* Add transition for smooth movement */
    animation: walkAnimation 1s steps(10) infinite, moveup 4s 12s forwards;
}

@keyframes walkAnimation {
    from { background-position: 0; }
    to { background-position: -500px; }
}

