body {
    font-family: 'Roboto', sans-serif;
    background: url('./background.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

.quiz-container {
    display: none;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question {
    font-size: 18px;
    margin-bottom: 16px;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    margin-bottom: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option.selected {
    background-color: #d3d3d3;
}

.result-container {
    text-align: center;
    margin-top: 20px;
}

.finish-button {
    display: none;
    margin-top: 10px; 
}

.welcome-screen {
    text-align: center;
    padding: 50px;
}

.start-button {
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.quiz-button {
    flex: 1;
    margin: 0 5px;
}

.result-image {
    background-size: cover;
    background-position: center;
    height: 300px; 
    margin-top: 20px;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-text {
    font-size: 30px;
    color: black;
    margin-top: 10px;
}
